{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "singleAttributePerLine": true,
  "objectWrap": "preserve",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "endOfLine": "crlf",
  "bracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}
